@model List<Book>

<div class="container">
    <div class="row pt-4 pd-3">
        <div class="col-6">
            <h2 class="text-dark">Books List</h2>
        </div>
        <div class="col-6 text-end mb-4">
            <a asp-controller="Book" asp-action="Upsert" class="btn btn-primary text-dark">
                <i class="bi bi-plus-square-fill"></i> Add New Book
            </a>
        </div>
    </div>
    <table id="bookTable" class="table table-hover text-dark">
        <thead>
            <tr>
                <th scope="col"><i class="bi bi-book"></i></th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    
    <script src="~/js/Book.js"></script>
}