@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-border  ml-0 py-3">
        <div class="row">
            <div>
                <h2 class="text-dark">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 form-floating text-dark">
        <form method="post" class="row ">
            <fieldset>
                <div class="row p-1">
                    <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Category Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="row p-1">
                    <label asp-for="DisplayOrder" class="form-label mt-4">Display Order</label>
                    <input asp-for="DisplayOrder" type="number" class="form-control pd-3" id="DisplayOrder" placeholder="Order">
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary m-3 text-dark">Add</button>
                <a asp-controller="Category" asp-action="Index" class="btn btn-primary text-dark">
                    Back to Categories
                </a>
            </fieldset> 
        </form>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}